*{
  padding: 0;
  margin: 0;

}

.child{
  border: 1px solid black;
  height: 400px;
  width: 450px;
  border-radius: 16px;
  align-items: center;
  background-color: rgb(11, 16, 18);
  color: whitesmoke
}
.parent img{
  height: 90px;
  width: 90px;
margin-left: 130px;
border-radius: 50%;
/* padding: 30px; */
}
.parent{
  padding:30px;
  display: flex;
  /* flex-direction: row; */
  flex-wrap:wrap;

  gap: 40px;
}
.header{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* margin: 200px auto; */
  padding: 30px;
}
.header h1{
  margin-left:95px ;
  padding-top: 7px;
}
.center h2{
  margin-left: 180px;
}
.center p{
  margin-top: 10px;
  /* align-items: center; */
  margin-left: 6px;
  font-size: 20px;
}
.footer button{
  margin-top: 10px;
  margin-left: 180px;
  padding: 7px;
  width: 100px;
  font-size: 20px;
  border: 2em;
  border-radius: 10px;
}

